@model LevelCreateModel

<!-- Modal -->
<div class="modal fade" id="createLevelModal" tabindex="-1" aria-labelledby="createLevelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createLevelModalLabel">Create Level</h1>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="Create">
                <div class="modal-body">
                    <div>
                        <label asp-for="LevelNumber">LevelNumber</label>
                        <input asp-for="LevelNumber" class="form-control" placeholder="LevelNumber"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>