@model CompanyEditModel

<!-- Modal -->
<div class="modal fade" id="editCompanyModal" tabindex="-1" aria-labelledby="editCompanyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editCompanyModalLabel">Edit Company</h1>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-action="Update">
                <input type="hidden" asp-for="ID"/>
                <div class="modal-body">
                    <div>
                        <label asp-for="Name">@Html.DisplayNameFor(itemModel => Model.Name)</label>
                        <input asp-for="Name" class="form-control" placeholder="@Html.DisplayNameFor(itemModel => Model.Name)"/>
                    </div>
                    <div>
                        <label asp-for="LocationID">@Html.DisplayNameFor(itemModel => Model.LocationID)</label>
                        <select asp-for="LocationID" class="form-control" asp-items="@Model.LocationsSelectListItems"></select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>